@import "../../scss/mixins/flexbox";
@import "../../scss/mixins/text-styles";

.button {
  $block-name: &; // #{$block-name}__element

  @include flex-center;
  @include button-title;

  gap: 10px;
  padding: 10px 20px;
  color: inherit;
  text-decoration: none;
  background: var(--back-primary);
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: var(--button-shadow);
  cursor: pointer;
  transition: box-shadow 0.25s ease;
  appearance: none;

  &--primary {
    position: relative;
    overflow: hidden;
    background:
      linear-gradient(white, white) padding-box,
      var(--text-gradient-default) border-box;
    border: 1px solid transparent;

    @media screen and (min-width: $screen-tl) {
      min-width: 240px;
      padding: 20px 50px;
    }

    &[disabled],
    &#{$block-name}--disabled {
      background:
        linear-gradient(white, white) padding-box,
        var(--front-secondary) border-box;
      border: 1px solid transparent;
      opacity: 0.25;
      pointer-events: none;
    }
  }

  &:hover {
    box-shadow: var(--button-shadow-hover);
  }

  &__title {
    display: block;
  }

  &__icon {
    width: 25px;
    height: 25px;
  }
}
