//- Все примеси в этом файле должны начинаться c имени блока (panel)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт
//- в сборку

mixin pagination(mods)

  //- Принимает:
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +pagination('some-mod')

  -
    // список модификаторов
    var allMods = '';
    if (typeof (mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' pagination--' + modsList[i].trim();
      }
    }

  .pagination
    .pagination__inner
      .pagination__pages
        .pagination__current 1
        a.pagination__link(href='#') 2
        a.pagination__link(href='#') 3
