@import "fluid";

@mixin body {
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
}

@mixin button-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.48px;
  text-transform: uppercase;

  @media screen and (min-width: $screen-d) {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.75px;
  }
}

@mixin nav-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

@mixin footer-default($weight: 500) {
  font-weight: $weight;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.24px;
}

@mixin footer-info {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.24px;

  @media screen and (min-width: $screen-d) {
    line-height: 1.67;
  }
}

@mixin hero-phrase {
  font-weight: 300;
  font-size: fluid(15, 40, 360, 1280);
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-align: center;

  @media screen and (min-width: $screen-d) {
    font-size: 40px;
  }
}

@mixin section-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 1;
  letter-spacing: -0.25px;

  @media screen and (min-width: $screen-tl) {
    font-size: 55px;
    letter-spacing: -0.55px;
  }
}

@mixin section-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;

  @media screen and (min-width: $screen-tl) {
    font-size: 15px;
    letter-spacing: 0.45px;
  }
}

@mixin blog-tile-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.15px;

  @media screen and (min-width: $screen-d) {
    line-height: 1.5;
  }
}

@mixin blog-tile-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.12px;

  @media screen and (min-width: $screen-d) {
    font-size: 15px;
    letter-spacing: 0.15px;
  }
}

@mixin blog-tile-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.24px;

  @media screen and (min-width: $screen-d) {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.3px;
  }
}

@mixin client-tile-tag {
  font-weight: 500;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 0.2px;
  transition: opacity 0.25s ease;

  @media screen and (min-width: $screen-d) {
    font-size: 15px;
    letter-spacing: 0.3px;
  }
}

@mixin client-tile-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25;

  @media screen and (min-width: $screen-d) {
    font-size: 20px;
    line-height: 1;
  }
}

@mixin client-tile-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3334;
  letter-spacing: 0.12px;

  @media screen and (min-width: $screen-d) {
    font-size: 15px;
    letter-spacing: 0.15px;
  }
}

@mixin client-tile-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.24px;

  @media screen and (min-width: $screen-d) {
    font-size: 15px;
    line-height: 1;
    letter-spacing: 0.3px;
  }
}

@mixin review-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3334;

  @media screen and (min-width: $screen-d) {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3334;
  }
}

@mixin review-name {
  font-weight: 500;
  font-size: 15px;
  line-height: 1;

  @media screen and (min-width: $screen-d) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }
}

@mixin review-place {
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
}

@mixin direction-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.3px;

  @media screen and (min-width: $screen-d) {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
}

@mixin services-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3334;

  @media screen and (min-width: $screen-d) {
    font-size: 30px;
  }
}

@mixin services-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.24px;

  @media screen and (min-width: $screen-d) {
    font-size: 15px;
    letter-spacing: 0.3px;
  }
}

@mixin work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.4px;

  @media screen and (min-width: $screen-d) {
    font-weight: 500;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0.5px;
  }
}

@mixin work-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3334;

  @media screen and (min-width: $screen-d) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.1;
  }
}

@mixin calculator-line {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.3px;

  @media screen and (min-width: $screen-d) {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
}

@mixin calculator-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.36px;

  @media screen and (min-width: $screen-d) {
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.45px;
  }
}

@mixin popup-quote {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
}

@mixin popup-cite {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
}

@mixin popup-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 1;
  letter-spacing: -0.25px;

  @media screen and (min-width: $screen-tl) {
    font-size: 40px;
    letter-spacing: -0.4px;
  }
}

@mixin popup-descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.36px;

  @media screen and (min-width: $screen-tl) {
    font-size: 15px;
    letter-spacing: 0.45px;
  }
}

@mixin form-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12px;
}

@mixin breadcrumbs {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.36px;

  @media screen and (min-width: $screen-tl) {
    font-size: 15px;
    letter-spacing: 0.45px;
  }
}

@mixin contacts-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.12px;

  @media screen and (min-width: $screen-tl) {
    font-size: 15px;
    line-height: 1.3334;
    letter-spacing: 0.15px;
  }
}

@mixin contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3334;
  letter-spacing: 0.2px;

  @media screen and (min-width: $screen-tl) {
    font-size: 30px;
    letter-spacing: 0.3px;
  }
}

@mixin contacts-descr {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.3334;
  letter-spacing: 0.15px;
}

@mixin main-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 1;
  letter-spacing: -0.25px;

  @media screen and (min-width: $screen-tl) {
    font-weight: 500;
    font-size: 55px;
    line-height: 1;
    letter-spacing: -0.55px;
  }
}

@mixin tag {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.12px;

  @media screen and (min-width: $screen-tl) {
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.15px;
  }
}

@mixin post-lead {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.2px;

  @media screen and (min-width: $screen-tl) {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.2px;
  }
}

@mixin post-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

@mixin case-h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.2px;

  @media screen and (min-width: $screen-d) {
    font-size: 35px;
    letter-spacing: 0.35px;
  }
}

@mixin case-h3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.15px;

  @media screen and (min-width: $screen-d) {
    font-size: 25px;
    letter-spacing: 0.25px;
  }
}

@mixin case-p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.3px;

  @media screen and (min-width: $screen-d) {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
}

@mixin case-li {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.3px;

  @media screen and (min-width: $screen-d) {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
}

@mixin case-quote {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.4px;

  @media screen and (min-width: $screen-d) {
    font-size: 35px;
    letter-spacing: 0.7px;
  }
}
