@import "../../scss/mixins/list-reset";
@import "../../scss/mixins/text-styles";

.nav {
  $block-name: &; // #{$block-name}__element

  height: 100%;
  color: var(--front-primary);

  @media screen and (min-width: $screen-ti) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 10vh 15px 50px;
  }

  &__links {
    display: grid;
    gap: 40px;
    justify-items: center;
  }

  &__link {
    @include nav-link;

    color: inherit;
    text-decoration: none;
  }

  &__button {
    width: 100%;
    max-width: 240px;
    padding: 10px 25px 10px 20px;
  }
}
