//- Все примеси в этом файле должны начинаться c имени блока (nav)
//- Упоминание имени блока в классах обязательно, без этого он не попадёт в сборку

mixin nav

  //- Вызов:
        +nav

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' nav--' + modsList[i].trim();
      }
    }

  nav.nav(class=allMods)&attributes(attributes)
    .nav__inner
      if isMainPage
        nav.nav__links
          a.nav__link(href='#services') Услуги
          a.nav__link(href='#calculator') Калькулятор
          a.nav__link(href='./cases.html') Кейсы
          a.nav__link(href='./blog.html') Блог
          a.nav__link(href='./contacts.html') Контакты
      else
        nav.nav__links
          a.nav__link(href='./#services') Услуги
          a.nav__link(href='./#calculator') Калькулятор
          a.nav__link(href='./cases.html') Кейсы
          a.nav__link(href='./blog.html') Блог
          a.nav__link(href='./contacts.html') Контакты
      a.nav__button.button(href='https://evoteka.ru/wp-content/themes/echolot/OOO_Evoteka.pdf', download)
        img.button__icon(src= src.img + 'icon__download.svg', alt='download')
        .button__title Карта партнёра
