.link {
  $block-name: &; // #{$block-name}__element

  color: inherit;
  background-color: inherit;
  background-image: var(--text-gradient-link);
  background-position: 0 0;
  background-size: 200% 100%;
  background-clip: text;
  transition: background-position 0.25s ease;
  -webkit-text-fill-color: transparent;

  &:hover {
    background-position: 100% 0;
  }
}
