extends ../templates/layout_default.pug

block variables
  - isMainPage = false
  - pageTitle = 'Эвотека | Название статьи'
  - metaDescription = 'description'
  - metaKeywords = 'keywords'

  -
    blogTiles = [
      {
        title: '«Яндекс», Avito и Wildberries возглавили топ самых дорогих компаний в рейтинге Forbes',
        description: 'Forbes представил рейтинг стоимости российских интернет-компаний',
        img: 1
      },
      {
        title: '«Одноклассники» отметили прирост активной аудитории',
        description: 'Пользователи чаще, чем раньше, регистрируются и восстанавливают свои профили в соцсети',
        img: 2
      },
      {
        title: 'Новые клиентские аудитории',
        description: 'Объедините все онлайн и офлайн данные о ваших клиентах в единую систему',
        img: 3
      },
    ]
  -
    breadcrumbs = [
      {
        title: 'Блог и новости',
        type: 'link',
        url: '#'
      },
      {
        title: '«Яндекс», Avito и Wildberries возглавили топ самых дорогих компаний в рейтинге Forbes',
      }
    ]

block content
  .main
    .container
      .main__header
        +breadcrumbs(breadcrumbs)
        h1.main__title «Яндекс», Avito и Wildberries возглавили топ самых дорогих компаний в рейтинге Forbes
    .container
      .main__body
        .post
          .post__lead Forbes представил рейтинг стоимости российских интернет-компаний
          img.post__cover(src= src.assets + 'img__post--cover.jpg', alt='')
          .post__text
            p Forbes #[a(href='#') представил] рейтинг стоимости российских интернет-компаний — список был составлен на основании данных биржи на момент закрытия торгов 2 февраля 2022 года.
            p В издании отметили, что топ-30 опубликован в «не в самый удачный момент» для брендов — их акции драматически упали в связи с текущей политической обстановкой в стране.
            p В лонг-лист попали компании, которые зарабатывают более 50% выручки в России или у которых приходится более 50% отечественных пользователей. Исходя из рейтинга, Яндекс в четвертый раз возглавил рейтинг — холдинг оценили в $17,397 млрд. При этом в начале 2021 года его оценили примерно в 1,3 раза дороже — $22,98 млрд.
            figure
              img(src= src.assets + 'img__post--image.jpg', alt='')
            p На втором месте рейтинга обосновался маркетплейс Wildberries с оценкой $7,635 млрд (в начале 2021 года компания стоила почти в два раза дороже — $14,52 млрд). Avito занял третье место — стоимость сервиса оценили в $6,227 млрд.
            p В топ-10 также вошли Ozon ($4,711 млрд), 1С (включая «1С-Битрикс» — $2,674 млрд), ЦФТ ($2,579 млрд), HeadHunter ($2,386 млрд), Лаборатория Касперского ($2.382 млрд), Aliexpress Россия ($1,906 млрд), VK (ранее Mail.ru Group — $1,848 млрд).
  section.section.blog
    .container
      .section__inner
        header.section__header
          h2.section__heading Читайте также
        .section__body
          .blog__grid
            each tile in blogTiles
              +blog-tile(tile)
