.blog {
  $block-name: &; // #{$block-name}__element

  &__grid {
    display: grid;
    gap: 30px;

    @media screen and (min-width: $screen-ti) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: $screen-tl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
