@font-face {
  font-weight: 300;
  font-family: Onest;
  font-style: normal;
  font-display: swap;
  src: url("/{{fonts}}/Onest-Light.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: Onest;
  font-style: normal;
  font-display: swap;
  src: url("/{{fonts}}/Onest-Regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: Onest;
  font-style: normal;
  font-display: swap;
  src: url("/{{fonts}}/Onest-Medium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: Onest;
  font-style: normal;
  font-display: swap;
  src: url("/{{fonts}}/Onest-Bold.woff") format("woff");
}
